In [2]:
import pandas as pd
import numpy as np

In [52]:
df = pd.read_csv('../attacks.csv', encoding='latin-1')
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [54]:
df.shape

(25723, 24)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [58]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [59]:
#Nome_dataframe.columns = [c.lower().strip().replace('') for c in nome_dataframe.columns]
df.columns = [col.lower().strip().replace(' ', '_') for col in df.columns]

In [60]:
df

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [64]:
df

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
pd.set_option('display.max_columns', None)

In [66]:
df

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
df = df.drop(['case_number', 'type', 'area', 'location', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'], axis = 1)

In [69]:
df

              date    year    country     activity
0      25-Jun-2018  2018.0        USA     Paddling
1      18-Jun-2018  2018.0        USA     Standing
2      09-Jun-2018  2018.0        USA      Surfing
3      08-Jun-2018  2018.0  AUSTRALIA      Surfing
4      04-Jun-2018  2018.0     MEXICO  Free diving
...            ...     ...        ...          ...
25718          NaN     NaN        NaN          NaN
25719          NaN     NaN        NaN          NaN
25720          NaN     NaN        NaN          NaN
25721          NaN     NaN        NaN          NaN
25722          NaN     NaN        NaN          NaN

[25723 rows x 4 columns]

In [73]:
len(df)

25723

In [78]:
df.isnull().sum()

date        19421
year        19423
country     19471
activity    19965
dtype: int64

In [79]:
df.year = df.year.astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [81]:
#Remove all rows wit NULL values from the DataFrame.
df.dropna(subset=['date'], inplace=True)

In [84]:
df.isnull().sum()

date          0
year          2
country      50
activity    544
dtype: int64

In [85]:
df

             date    year             country      activity
0     25-Jun-2018  2018.0                 USA      Paddling
1     18-Jun-2018  2018.0                 USA      Standing
2     09-Jun-2018  2018.0                 USA       Surfing
3     08-Jun-2018  2018.0           AUSTRALIA       Surfing
4     04-Jun-2018  2018.0              MEXICO   Free diving
...           ...     ...                 ...           ...
6297  Before 1903     0.0           AUSTRALIA        Diving
6298  Before 1903     0.0           AUSTRALIA  Pearl diving
6299    1900-1905     0.0                 USA      Swimming
6300    1883-1889     0.0              PANAMA           NaN
6301    1845-1853     0.0  CEYLON (SRI LANKA)      Swimming

[6302 rows x 4 columns]

In [93]:
df.dropna(subset=['year'], inplace=True)

In [94]:
df.year = df.year.astype(int)

In [95]:
df

             date  year             country      activity
0     25-Jun-2018  2018                 USA      Paddling
1     18-Jun-2018  2018                 USA      Standing
2     09-Jun-2018  2018                 USA       Surfing
3     08-Jun-2018  2018           AUSTRALIA       Surfing
4     04-Jun-2018  2018              MEXICO   Free diving
...           ...   ...                 ...           ...
6297  Before 1903     0           AUSTRALIA        Diving
6298  Before 1903     0           AUSTRALIA  Pearl diving
6299    1900-1905     0                 USA      Swimming
6300    1883-1889     0              PANAMA           NaN
6301    1845-1853     0  CEYLON (SRI LANKA)      Swimming

[6300 rows x 4 columns]

In [97]:
#mostrar todos os anos
df.groupby('year').count()

      date  country  activity
year
0      125      121       107
5        1        1         0
77       1        0         1
500      1        1         0
1543     1        1         1
1554     1        1         0
1555     1        0         1
1580     1        1         1
1595     1        1         1
1617     1        1         0
1637     1        1         1
1638     1        0         0
1642     2        2         2
1700     3        3         2
1703     1        1         1
1721     1        1         1
1723     1        1         0
1733     1        1         0
1738     1        1         1
1742     1        0         1
1748     1        1         1
1749     1        1         1
1751     1        1         1
1753     1        1         1
1755     1        1         0
1758     1        1         1
1764     1        1         1
1767     1        1         1
1771     1        1         1
1776     2        2         1
1779     1        1         1
1780     1        1         1
1783     1        1         0
1784     1        1         1
1785     1        1         0
1786     1        1         1
1787     1        0         1
1788     1        1         1
1791     1        1         0
1792     1        1         1
1797     1        0         1
1800     1        1         1
1801     1        0         1
1802     1        1         0
1803     2        2         0
1804     1        1         0
1805     1        1         0
1807     1        1         0
1808     3        3         2
1810     1        1         1
1811     1        0         1
1812     1        1         1
1815     1        1         1
1816     1        1         1
1817     4        4         4
1818     1        1         0
1819     1        1         0
1822     1        1         0
1823     1        1         0
1825     2        2         1
1826     5        5         4
1827     3        3         2
1828     2        2         2
1829     3        3         2
1830     4        3         3
1831     2        2         2
1832     2        2         2
1834     1        1         1
1835     2        2         2
1836     2        2         0
1837     4        4         3
1839     4        4         2
1840     5        5         4
1841     1        1         1
1842     4        4         4
1844     4        4         4
1845     6        6         4
1846     3        3         3
1847     9        9         8
1848     4        4         3
1849     7        7         6
1850     2        2         2
1851     3        3         3
1852    10       10         9
1853     8        8         8
1855     7        6         7
1856     4        3         4
1857     1        1         1
1858     6        6         6
1859     1        1         1
1860     7        7         7
1861     5        5         5
1862    12       12         7
1863    11       11        11
1864    14       14        13
1865     4        4         4
1866     2        2         2
1867     5        5         4
1868     6        6         5
1869     2        1         2
1870     8        8         8
1871     9        9         6
1872     8        8         7
1873     4        4         4
1874    12       11        12
1875     5        5         4
1876     9        9         7
1877    14       14         9
1878    13       12        11
1879     8        8         7
1880    15       15        10
1881     9        7         8
1882    12       12        11
1883    13       13        11
1884     7        7         6
1885     9        8         8
1886    15       15        14
1887    13       12        10
1888    15       15        13
1889     9        9         8
1890    17       17        16
1891     9        9         9
1892    11       11        10
1893    13       13        12
1894    15       15        15
1895    20       19        19
1896    12       12        10
1897    11       10         9
1898    21       19        20
1899    20       20        20
1900    13       13        12
1901     9        9         9
1902    15       15        13
1903    10       10         9
1904    14       14        14
1905    18       18        17
1906    21       21        19
1907    23       23        23
1908    13       13        11
1909    18       17        15
1910    14       14        12
1911    16       16        15
1912    14       14        12
1913    18       18         9
1914    18       18        16
1915    12       12        10
1916    25       25        23
1917    11       11        11
1918     5        5         5
1919    14       14        14
1920    15       15        14
1921    12       12        10
1922    22       22        21
1923    21       21        19
1924    19       19        19
1925    14       14        10
1926    21       21        19
1927    19       19        18
1928    26       26        21
1929    38       37        33
1930    26       26        21
1931    29       28        25
1932    27       27        23
1933    22       22        20
1934    27       27        27
1935    32       31        27
1936    32       32        32
1937    30       30        27
1938    24       24        24
1939    25       25        21
1940    24       24        22
1941    27       27        24
1942    41       37        36
1943    28       28        26
1944    31       30        27
1945    16       16        14
1946    26       26        22
1947    30       30        28
1948    29       29        25
1949    31       30        26
1950    43       43        41
1951    32       32        28
1952    29       29        28
1953    36       36        32
1954    42       42        34
1955    43       43        39
1956    51       49        48
1957    41       41        34
1958    54       54        48
1959    93       93        81
1960    93       92        85
1961    78       78        72
1962    86       86        77
1963    61       61        58
1964    66       65        63
1965    51       50        47
1966    58       58        55
1967    48       48        40
1968    47       47        38
1969    30       29        23
1970    42       37        39
1971    28       28        21
1972    35       35        29
1973    27       27        22
1974    38       38        35
1975    49       49        42
1976    39       39        33
1977    26       26        22
1978    25       25        21
1979    25       25        22
1980    35       35        34
1981    49       49        46
1982    40       40        35
1983    50       49        45
1984    41       41        38
1985    37       37        34
1986    39       39        35
1987    35       35        31
1988    55       55        51
1989    53       53        50
1990    38       38        37
1991    38       38        37
1992    56       56        53
1993    56       56        52
1994    56       56        52
1995    76       76        68
1996    61       61        53
1997    57       57        54
1998    65       65        63
1999    66       66        65
2000    97       97        92
2001    92       92        83
2002    88       88        85
2003    92       92        89
2004    92       92        89
2005   103      103        97
2006   103      103        97
2007   112      112       111
2008   122      122       117
2009   120      120       115
2010   101      101        98
2011   128      128       123
2012   117      117       112
2013   122      122       114
2014   127      126       122
2015   143      143       137
2016   130      130       124
2017   136      135       130
2018    53       53        52

In [98]:
df = df.loc[df['year'] >= 1990]

In [99]:
new_table = df.groupby('year').count()

In [100]:
new_table

      date  country  activity
year
1990    38       38        37
1991    38       38        37
1992    56       56        53
1993    56       56        52
1994    56       56        52
1995    76       76        68
1996    61       61        53
1997    57       57        54
1998    65       65        63
1999    66       66        65
2000    97       97        92
2001    92       92        83
2002    88       88        85
2003    92       92        89
2004    92       92        89
2005   103      103        97
2006   103      103        97
2007   112      112       111
2008   122      122       117
2009   120      120       115
2010   101      101        98
2011   128      128       123
2012   117      117       112
2013   122      122       114
2014   127      126       122
2015   143      143       137
2016   130      130       124
2017   136      135       130
2018    53       53        52

In [101]:
print(df['country'].value_counts())

USA                                      1292
AUSTRALIA                                 465
SOUTH AFRICA                              195
BRAZIL                                     98
BAHAMAS                                    65
NEW ZEALAND                                52
REUNION                                    49
NEW CALEDONIA                              34
MEXICO                                     29
EGYPT                                      23
FIJI                                       19
SPAIN                                      17
FRENCH POLYNESIA                           17
JAPAN                                      17
PAPUA NEW GUINEA                           12
HONG KONG                                  10
VIETNAM                                    10
PHILIPPINES                                10
TONGA                                       9
COSTA RICA                                  8
MOZAMBIQUE                                  8
INDONESIA                                   7
ITALY                                       7
ECUADOR                                     7
UNITED KINGDOM                              6
THAILAND                                    6
CUBA                                        6
TANZANIA                                    5
SOLOMON ISLANDS                             5
TURKS & CAICOS                              5
MAURITIUS                                   5
SOMALIA                                     5
VENEZUELA                                   5
MALAYSIA                                    4
ENGLAND                                     4
SEYCHELLES                                  4
ATLANTIC OCEAN                              4
OKINAWA                                     4
VANUATU                                     4
TAIWAN                                      4
SCOTLAND                                    4
DOMINICAN REPUBLIC                          4
RUSSIA                                      4
SOUTH KOREA                                 4
CHILE                                       3
PANAMA                                      3
GUAM                                        3
JAMAICA                                     3
EL SALVADOR                                 3
MADAGASCAR                                  3
 TONGA                                      3
COLUMBIA                                    3
MARSHALL ISLANDS                            3
TRINIDAD & TOBAGO                           2
UNITED ARAB EMIRATES                        2
AZORES                                      2
UNITED ARAB EMIRATES (UAE)                  2
SAMOA                                       2
CHINA                                       2
KENYA                                       2
CROATIA                                     2
CANADA                                      2
CAYMAN ISLANDS                              2
SENEGAL                                     2
CARIBBEAN SEA                               2
BELIZE                                      2
FRANCE                                      2
ST HELENA, British overseas territory       2
GRAND CAYMAN                                1
Seychelles                                  1
LIBERIA                                     1
NORTHERN ARABIAN SEA                        1
MEXICO                                      1
HONDURAS                                    1
SRI LANKA                                   1
URUGUAY                                     1
INDIA                                       1
MICRONESIA                                  1
Sierra Leone                                1
EGYPT / ISRAEL                              1
ST. MAARTIN                                 1
PALESTINIAN TERRITORIES                     1
GULF OF ADEN                                1
YEMEN                                       1
MALDIVES                                    1
LIBYA                                       1
COMOROS                                     1
CAPE VERDE                                  1
Fiji                                        1
ARUBA                                       1
PUERTO RICO                                 1
GREECE                                      1
ST. MARTIN                                  1
KIRIBATI                                    1
ISRAEL                                      1
DIEGO GARCIA                                1
NIGERIA                                     1
SAUDI ARABIA                                1
ANTIGUA                                     1
MALTA                                       1
NEVIS                                       1
BRITISH VIRGIN ISLANDS                      1
NORWAY                                      1
ANGOLA                                      1
Name: country, dtype: int64

In [105]:
print(df['activity'].value_counts())

Surfing                                                                   790
Swimming                                                                  341
Spearfishing                                                              149
Fishing                                                                   135
Wading                                                                     91
                                                                         ...
Attempting to chase shark out to sea                                        1
Accidentally stood on hooked shark's tail before attempting to gut it       1
Fishing from surfski                                                        1
Free-diving                                                                 1
Board sailing                                                               1
Name: activity, Length: 424, dtype: int64

In [106]:
df

             date  year    country                        activity
0     25-Jun-2018  2018        USA                        Paddling
1     18-Jun-2018  2018        USA                        Standing
2     09-Jun-2018  2018        USA                         Surfing
3     08-Jun-2018  2018  AUSTRALIA                         Surfing
4     04-Jun-2018  2018     MEXICO                     Free diving
...           ...   ...        ...                             ...
2644  05-Mar-1990  1990    REUNION                         Surfing
2645  17-Feb-1990  1990        USA     Scuba diving & spearfishing
2646  05-Feb-1990  1990        USA                   Board sailing
2647  12-Jan-1990  1990        USA  Surfing (sitting on his board)
2648         1990  1990        USA                         Surfing

[2647 rows x 4 columns]